 .brandLogo{
    width: 3.1rem;
    border-radius: 1.1rem;

} 
.ad{
    background-color: yellowgreen;
   
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.myImages{
    background-image: url("/image/Background-2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    
    
}
/* .card1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 3px;
} */
/* .cards{
    border: 1px solid grey;
    width: 500px;
    padding: 5px;
} */
.heads{
    display: flex;
    justify-content: space-around; 
    padding: 10px;

}
.myStyle{
    text-decoration: none;
    color: black;
}
.card-img-top{
    border-top-right-radius: 10rem;
    border-top-left-radius: 10rem;
}
.post {
    display: flex;
    justify-content: center;
}
.property-card{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.property-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0 green,0 blue,0.15 alpha);

}
/* .footer{
    height: 90vh;
} */
.footer2{
    margin-top: 300px;
}

.footerLogo{
    width: 4.5rem;
    /* height: 3rem; */
    border-radius: 5rem;
    object-fit: contain;
    
}
@media (min-width : 768px){
    .footerLogo{
        width: 5rem;
    }
}
.socialImage{
    width: 2rem;
    border-radius: 3rem;
}
.footer-link{
    text-decoration: none;
    color: white;

}
.footer-border{
    border: 2px solid white;
    width: 7rem;
}
.color{
    background-color: white;
}
.imgs {
    margin-left: 90px;
    height: 40px;
}
.card-text{
    margin-left: 20px;
}
.card-title{
    margin-left: 10px;

}
.imgcolor{
    background-color: white;
    border-radius: 3rem;
}
.card-hover:hover {
    transform: scale(1.03);
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  .page-image{
    background-image: url('/image/socialMediaImage/whitebackground2edit.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
