 .brandLogo{
    width: 3.1rem;
    border-radius: 1.1rem;

} 
.ad{
    background-color: yellowgreen;
   
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.myImages{
    background-image: url("/image/Background-2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    
    
}
/* .card1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 3px;
} */
/* .cards{
    border: 1px solid grey;
    width: 500px;
    padding: 5px;
} */
.heads{
    display: flex;
    justify-content: space-around; 
    padding: 10px;

}
.myStyle{
    text-decoration: none;
    color: black;
}